@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-fixed-dim: #a8c8ff;
  --color-on-secondary: #ffffff;
  --color-outline: #727783;
  --color-inverse-surface: #2d3133;
  --color-on-primary-fixed: #001b3d;
  --color-on-primary-fixed-variant: #00468b;
  --color-on-secondary-container: #586676;
  --color-on-tertiary-fixed: #00201d;
  --color-on-tertiary-container: #74efe0;
  --color-on-error: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-fixed-variant: #3b4857;
  --color-on-error-container: #93000a;
  --color-background: #f7fafc;
  --color-surface-container-low: #f1f4f6;
  --color-surface-tint: #005db5;
  --color-secondary: #53606f;
  --color-on-tertiary-fixed-variant: #005049;
  --color-tertiary: #00524b;
  --color-surface-container-high: #e5e9eb;
  --color-primary: #00488d;
  --color-on-background: #181c1e;
  --color-tertiary-fixed-dim: #5ddacb;
  --color-primary-fixed: #d6e3ff;
  --color-outline-variant: #c2c6d4;
  --color-secondary-fixed: #d6e4f7;
  --color-on-primary: #ffffff;
  --color-inverse-on-surface: #eef1f3;
  --color-surface-container: #ebeef0;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #006c63;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #424752;
  --color-surface: #f7fafc;
  --color-tertiary-fixed: #7cf6e7;
  --color-surface-bright: #f7fafc;
  --color-on-surface: #181c1e;
  --color-inverse-primary: #a8c8ff;
  --color-surface-container-highest: #e0e3e5;
  --color-on-secondary-fixed: #0f1d2a;
  --color-surface-dim: #d7dadc;
  --color-on-primary-container: #cadcff;
  --color-surface-variant: #e0e3e5;
  --color-secondary-container: #d6e4f7;
  --color-error: #ba1a1a;
  --color-secondary-fixed-dim: #bac8da;
  --color-primary-container: #005fb8;
  --color-brand-dark: #1c2e4a;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .glass-header {
    backdrop-filter: blur(12px);
  }
  
  .timeline-ruler::before {
    content: '';
    position: absolute;
    left: 2.25rem;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgba(194, 198, 212, 0.2);
  }
}
